@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.card {
    width: 100px; 
    height: 124px;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.nome-produto {
    font-family: 'Manrope', sans-serif;
    font-size: 10px;
    color: #222222;
    font-weight: 800;
    padding-bottom: 6px;
}

.valor-produto {
    font-family: 'Manrope', sans-serif;
    font-size: 10px;
    color: #4BAF47;
    font-weight: 600;
    padding-bottom: 6px;
}

.img-produto {
    padding-bottom: 14px;
    background-color: #F8F7F2;
}


@media (min-width: 600px) {
    .card {
        width: 90%;
        padding: 15px;
    }

    .nome-produto {
        font-size: 18px;
    }

    .valor-produto {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .card {
        width: 220px;
        height: 270px;
        padding: 12px;
    }

    .nome-produto {
        font-size: 22px;
    }

    .valor-produto {
        font-size: 16px;
    }
}

@media screen and (min-width: 1440px){
    .card {
        width: 296px;
        height: 360px;
        padding: 16px;
    }    
}

@media screen and (min-width: 1920px){
    .card {
        width: 370px;
        height: 458px;
        padding: 20px;
    }
}
